# Ignore build outputs
dist
build
node_modules

# Ignore environment and lock files
.env
package-lock.json
yarn.lock

# Ignore all JSON files except Prettier config
*.json
!.prettierrc

# Ignore version control
.git

# Ignore compiled JS files if using TypeScript
**/*.js
!scripts/

# Optional: ignore public/static assets
public
static

# Ignore coverage reports
coverage

# Ignore logs
*.log

# Ignore IDE configs
.vscode
.idea
